/* intro section */
.about-intro-section {
  padding-top: 125px;
  padding-bottom: 135px;
}

.intro-header {
  display: inline-flex;
  font-size: 2vw;
  font-weight: 300;
  letter-spacing: normal;
}

.about-intro-img-div {
  margin: 50px 16px 0;
}

.about-intro-img {
  background-color: #ccd0cf;
  border-radius: 15px;
  width: 100%;
  height: auto;
}

@media (min-width: 1921px) {
  .intro-header {
    font-size: 2.4rem;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .intro-header {
    font-size: 1.95vw;
  }

  .about-intro-img-div {
    margin: 50px 8px 0;
  }

  .about-intro-img {
    border-radius: 15px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .about-intro-section {
    padding-bottom: 100px;
  }

  .intro-header {
    font-size: 2.3vw;
  }

  .about-intro-img-div {
    margin: 25px 8px 0;
  }
}

@media (min-width: 601px) and (max-width: 767px) {
  .about-intro-section {
    padding-bottom: 100px;
  }

  .about-intro-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .intro-header {
    font-size: 2.2vw;
  }

  .about-intro-img-div {
    margin: 25px 8px 0;
  }
}

@media (max-width: 600px) {
  .about-intro-section {
    padding: 100px 4vw 0;
    height: auto;
  }

  .intro-header {
    font-size: 2rem;
  }

  .about-intro-img-div {
    margin: 50px 0;
  }

  .about-intro-img {
    width: 80%;
    margin: auto;
    display: block;
  }
}

/* approach section */
.approach-section {
  padding-bottom: 100px;
}

.card-col {
  display: flex;
  flex-wrap: wrap;
}

.approach-card {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 16px;
  margin-right: 16px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .approach-section {
    padding-bottom: 50px;
  }

  .approach-card03,
  .approach-card04 {
    margin-top: 32px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .approach-section {
    padding-bottom: 50px;
  }

  .approach-card02,
  .approach-card03,
  .approach-card04 {
    margin-top: 32px !important;
  }
}

@media (min-width: 601px) and (max-width: 767px) {
  .approach-section {
    padding-bottom: 50px;
  }

  .approach-card02,
  .approach-card03,
  .approach-card04 {
    margin-top: 32px !important;
  }
}

@media (max-width: 600px) {
  .approach-section {
    padding-bottom: 50px;
  }

  .approach-card02,
  .approach-card03,
  .approach-card04 {
    margin-top: 32px !important;
  }
}

/* skills section */
.skills-section {
  padding-top: 100px;
  padding-bottom: 150px;
  overflow: hidden;
}

.section-title-div {
  padding-bottom: 50px;
}

.marquee-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.marquee-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
  flex-shrink: 0;
  cursor: pointer;
  padding-bottom: 24px;
}

.marquee-div h2 {
  font-size: 5vw;
  font-weight: 600;
  text-shadow: 0 8px 50px rgba(31, 38, 135, 1);
}

.marquee-div .marquee-separator {
  width: 20px;
  height: 20px;
  background-color: #8ec8f3;
  margin: 20px;
  border-radius: 50%;
}

@media (min-width: 1921px) {
  .marquee-div h2 {
    font-size: 6rem;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .marquee-div h2 {
    font-size: 7vw;
  }
}

@media (min-width: 601px) and (max-width: 767px) {
  .marquee-div h2 {
    font-size: 7vw;
  }
}

@media (max-width: 600px) {
  .marquee-div h2 {
    font-size: 10vw;
  }
}

/* testimonial section */

.carousel-wrapper {
  width: 100%;
  position: relative;
  display: flex;
}

.carousel-div {
  display: flex;
  justify-content: flex-start;
  width: 33.333%;
  flex-shrink: 0;
  cursor: pointer;
  padding-left: 16px;
  padding-right: 16px;
}

.testimonial-name {
  margin-top: 24px;
}

.testimonial-company {
  font-style: italic;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .carousel-div {
    width: 45%;
  }
}

@media (max-width: 992px) {
  .carousel-div {
    width: 75%;
  }
}

@media (max-width: 600px) {
  .carousel-div {
    width: 100%;
  }
}
