/* intro section */
.about-intro-section {
  padding-top: 100px;
  height: 100vh;
}

.intro-header {
  display: inline-flex;
  font-size: 2vw;
  font-weight: 300;
}

.about-intro-img-div {
  margin: 50px 16px 0;
}

.about-intro-img {
  background-color: #d9d9d9;
  border-radius: 30px;
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .about-intro-section {
    height: 90vh;
  }

  .about-intro-img-div {
    margin: 50px 8px 0;
  }

  .about-intro-img {
    border-radius: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-intro-section {
    height: 55vh;
  }

  .about-intro-img-div {
    margin: 50px 8px 0;
  }

  .about-intro-img {
    border-radius: 15px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 767px) {
  .about-intro-section {
    height: 42.5vh;
  }

  .about-intro-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .about-intro-img-div {
    margin: 50px 8px 0;
  }

  .about-intro-img {
    border-radius: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .about-intro-section {
    padding: 120px 4vw 50px;
    height: auto;
  }

  .intro-header {
    font-size: 2rem;
  }

  .about-intro-img-div {
    margin: 50px 0;
  }

  .intro-img-col:nth-child(2) {
    display: none !important;
  }

  .about-intro-img {
    border-radius: 15px;
    width: 80%;
    margin: auto;
    display: block;
  }
}

/* approach section */
.approach-section {
  padding-bottom: 100px;
}

.card-col {
  display: flex;
  flex-wrap: wrap;
}

.approach-card {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .approach-card {
    margin-top: 50px;
  }

  .approach-card03,
  .approach-card04 {
    margin-top: 32px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .approach-card {
    margin-top: 50px;
  }

  .approach-card02,
  .approach-card03,
  .approach-card04 {
    margin-top: 32px !important;
  }
}

@media only screen and (min-width: 601px) and (max-width: 767px) {
  .approach-card {
    margin-top: 50px;
  }

  .approach-card02,
  .approach-card03,
  .approach-card04 {
    margin-top: 32px !important;
  }
}

@media only screen and (max-width: 600px) {
  .approach-card {
    margin-top: 50px;
  }

  .approach-card02,
  .approach-card03,
  .approach-card04 {
    margin-top: 32px !important;
  }
}
