/* HERO SECTION */
.hero-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headline-div {
  width: 72.9vw;
  margin: 0 auto;
  padding-bottom: 16px;
}

.headline1a,
.headline1b {
  font-size: 15.3vw;
  font-weight: 700;
  line-height: 1.1cap;
  text-transform: uppercase;
  margin-left: -0.9vw;
}

.headline2 {
  font-size: 4.1vw;
  font-weight: 700;
  line-height: 1.2cap;
  text-transform: uppercase;
}

.headline-description {
  font-size: 2vw;
  line-height: 1.7cap;
}

@media (min-width: 1921px) {
  .headline-div {
    width: 1370px;
  }
  .headline1a,
  .headline1b {
    font-size: 18rem;
  }

  .headline2 {
    font-size: 4.86rem;
  }

  .headline-description {
    font-size: 2.4rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .headline-div {
    width: 90vw;
    margin: 0 auto;
  }

  .headline1a,
  .headline1b {
    font-size: 19.1vw;
  }

  .headline2 {
    font-size: 5.4vw;
  }

  .headline-description {
    font-size: 2.5vw;
  }
}

@media (min-width: 601px) and (max-width: 767px) {
  .headline1a,
  .headline1b {
    font-size: 15.55vw;
  }

  .headline2 {
    font-size: 4.53vw;
  }

  .headline-description {
    font-size: 2vw;
  }
}

@media (max-width: 600px) {
  .hero-section {
    padding: 0 4vw 0;
  }

  .headline-div {
    width: 100%;
  }

  .headline1a,
  .headline1b {
    font-size: 19.9vw;
  }

  .headline2 {
    font-size: 2.5rem;
  }

  .headline-description {
    font-size: 1.5rem;
  }

  .background-img {
    display: none;
  }
}

/* ABOUT SECTION */
.about-section {
  padding: 4vw;
  padding-right: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-col1 {
  margin-top: 50px;
}

.about-intro {
  font-size: 10.5vw;
  line-height: 1.3cap;
}

.about-section-description {
  color: #ffffff;
  font-size: 1.5vw;
}

.about-section-img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.about-section-img-div1,
.about-section-img-div2,
.about-section-img-div3,
.about-section-img-div4 {
  position: absolute;
  top: 0;
}

.about-section-img-div .about-section-img {
  border-radius: 15px;
  width: 80%;
  transition: transform 0.3s ease-out;
  transform-origin: center;
}

.about-section-img-div4 .about-section-img {
  background-color: #99b2c5;
}

.about-section-img-div3 .about-section-img {
  background-color: #a1b9cc;
}

.about-section-img-div2 .about-section-img {
  background-color: #a9c1d3;
}

.about-section-img-div1 .about-section-img {
  background-color: #b1c8da;
}

.about-section-img-div0 .about-section-img {
  background-color: #bacfe0;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.5);
}

@media (min-width: 1921px) {
  .about-section {
    padding-left: 75px;
    padding-right: 75px;
  }

  .about-intro {
    font-size: 13rem;
  }

  .about-section-description {
    font-size: 1.8rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .about-col1 {
    margin-top: 0;
  }

  .about-intro {
    font-size: 9.7vw;
  }

  .about-section-description {
    font-size: 1rem;
  }
}

@media (min-width: 601px) and (max-width: 767px) {
  .about-col1 {
    margin-top: 0;
  }

  .about-intro {
    font-size: 9.7vw;
  }

  .about-section-description {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .about-section {
    height: 100vh;
  }

  .about-col1 {
    order: 2;
    margin-top: 0;
  }

  .about-col2 {
    order: 1;
  }

  .about-intro {
    font-size: 19vw;
  }

  .about-section-description {
    font-size: 1rem;
  }

  .about-section-img-div {
    padding-bottom: 50px;
  }

  .about-section-img-div .about-section-img {
    width: 60%;
  }

  .about-section-img-div1,
  .about-section-img-div2,
  .about-section-img-div3,
  .about-section-img-div4 {
    display: none;
  }
}

/* PROJECT SECTION */
.project-section {
  overflow-y: hidden;
  overflow-x: hidden;
}

.scroll-wrap {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 5vw;
}

.scroll-item {
  position: relative;
  flex: 0 0 auto;
  padding: 0 16px;
  width: 900px;
  height: 735px;
}

.project-img {
  background-position: right top;
  background-attachment: fixed;
  background-size: cover;
  border-radius: 15px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.5);
}

.project-img::after {
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.35);
  width: 100%;
  height: auto;
  border-radius: 14px;
}

.scroll-item .project-title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.scroll-item .project-title h2 {
  color: #ffffff;
  font-size: 4rem;
  line-height: 1.5cap;
}

.scroll-item .project-title p {
  position: relative;
  display: block;
  color: #ffffff;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .scroll-item {
    width: 700px;
    height: 573px;
  }
}

@media (max-width: 991px) {
  .scroll-item {
    width: 550px;
    height: 450px;
  }

  .scroll-item .project-title h2 {
    font-size: 3rem;
  }

  .scroll-item .project-title p {
    font-size: 0.8rem;
  }
}

@media (max-width: 600px) {
  .scroll-item {
    width: 375px;
    height: 310px;
  }

  .scroll-item .project-title h2 {
    font-size: 2rem;
  }

  .scroll-item .project-title p {
    display: none;
  }
}
