/* ///// FONTS ///// */
/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ///// CUSTOM CSS ///// */
html {
  /* controlls Link smooth scrolling */
  /* scroll-behavior: auto !important; */
  background-image: linear-gradient(
    to left,
    #06141b,
    #0a171f,
    #0d1b24,
    #0f1e28,
    #11212d
  );
}

body {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
  background-image: linear-gradient(
    to left,
    #06141b,
    #0a171f,
    #0d1b24,
    #0f1e28,
    #11212d
  );
  overflow-x: hidden;
}

.relative {
  position: relative;
}

.logo {
  position: fixed;
  top: 12px;
  left: 12px;
  width: 180px;
  z-index: 10000;
}

.main-nav-div {
  position: fixed;
  top: 100px;
  right: 16px;
  z-index: 10000;
}

.main-nav-div a {
  display: block;
  color: #ffffff;
  text-transform: lowercase;
  text-align: right;
  font-size: 16px;
  line-height: 2.5;
}

.social-links-div {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.social-links-div a {
  color: #ffffff;
  text-transform: lowercase;
  font-size: 16px;
}

.footer-section {
  overflow: hidden;
  background-image: linear-gradient(
    to left,
    #06141b,
    #0a171f,
    #0d1b24,
    #0f1e28,
    #11212d
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-link-div {
  text-align: center;
}

.footer-link-div a {
  color: #ffffff;
  font-size: 9vw;
  font-weight: 200;
  line-height: 0.8;
}

@media only screen and (max-width: 991px) {
  .logo {
    width: 20vw;
  }

  .main-nav-div a {
    font-size: 12px;
    line-height: 3;
  }

  .social-links-div a {
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px) {
  .logo {
    width: 40vw;
  }

  .main-nav-div {
    top: 4px;
  }
}

/* text and fonts */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

.primary-color {
  color: #06141b;
}

.secondary-color {
  color: #ffffff;
}

.gradient-color {
  background: linear-gradient(135deg, #8ec8f3, #a6b4ff, #c7a3ff, #eb8ef3);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: block;
}

.text-align-center {
  text-align: center;
}

.content-align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.section-title {
  font-size: 10vw;
}

@media only screen and (max-width: 600px) {
  .section-title {
    font-size: 4rem;
  }
}

/* section and spacing */
section {
  padding-left: 4vw;
  padding-right: 4vw;
}

.row {
  --bs-gutter-x: 0;
}

.m-top-25 {
  margin-top: 25px;
}

.m-bottom-25 {
  margin-bottom: 25px;
}

.m-top-50 {
  margin-top: 50px;
}

.m-bottom-50 {
  margin-bottom: 50px;
}

.m-top-100 {
  margin-top: 100px;
}

.m-bottom-100 {
  margin-bottom: 100px;
}

.m-top-200 {
  margin-top: 200px;
}

.m-bottom-200 {
  margin-bottom: 200px;
}

.p-top-100 {
  padding-top: 100px;
}

.p-bottom-100 {
  padding-bottom: 100px;
}

/* components */
.dk-button {
  color: #ffffff;
  font-size: 1rem;
  text-decoration: none;
  padding: 16px 28px;
  background: RGBA(6, 20, 27, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.5);
  border: 2px solid transparent; /* Set border to transparent */
  border-image: linear-gradient(to right bottom, #8ec8f3, #eb8ef3) 1; /* Gradient border */
  transition: linear 0.2s;
}

.dk-button:hover {
  background: RGBA(6, 20, 27, 1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 1);
  border: 2px solid transparent; /* Set border to transparent */
  border-image: linear-gradient(to right bottom, #eb8ef3, #8ec8f3) 1; /* Gradient border */
}

.lt-button {
  color: #222222;
  font-size: 1rem;
  text-decoration: none;
  padding: 16px 28px;
  background: rgba(240, 240, 240, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.4);
  border: 2px solid transparent; /* Set border to transparent */
  border-image: linear-gradient(to right bottom, #8ec8f3, #eb8ef3) 1; /* Gradient border */
  transition: linear 0.2s;
}

.lt-button:hover {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.7);
  border: 2px solid transparent; /* Set border to transparent */
  border-image: linear-gradient(to right bottom, #eb8ef3, #8ec8f3) 1; /* Gradient border */
}
