.hero-img-row,
.hero-img {
  height: 60vh;
}

.hero-copy-row {
  height: 250px;
}

.hero-title {
  font-size: 8rem;
  text-transform: uppercase;
  line-height: 0.9;
  font-weight: 700;
}

.hero-subtitle {
  font-weight: 300;
}

.hero-subdescription {
  margin-top: -8px;
}

.detail-div-center-align {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.detail-div h2 {
  font-weight: 300;
}

.detail-div p,
.detail-div ul {
  margin-top: -10px;
}

.detail-img {
  border-radius: 15px;
}

.horizontal-scroll-container {
  overflow-y: hidden;
  overflow-x: hidden;
}

.scroll-wrap {
  display: flex;
  flex-wrap: nowrap;
}

.scroll-item {
  flex: 0 0 auto;
  padding: 0 24px;
}

.scroll-item video {
  width: 1000px;
  height: 562.5px !important;
  object-fit: cover;
  border-radius: 15px;
  margin: auto;
  display: block;
}

@media (min-width: 1921px) {
}

@media (max-width: 1199px) {
  .hero-copy-row {
    height: 200px;
  }
  .hero-title {
    font-size: 6rem;
    line-height: 75px;
  }

  .scroll-item video {
    width: 800px;
    height: 450px !important;
  }
}

@media (max-width: 991px) {
  .hero-img-row,
  .hero-img {
    height: 50vh;
  }

  .hero-copy-row {
    height: 250px;
  }

  .hero-title {
    font-size: 5rem;
  }

  .detail-div-center-align {
    position: relative;
    top: auto;
    transform: translateY(0%);
  }

  .detail-div {
    margin-bottom: 25px;
  }

  .detail-div h2 {
    text-align: left !important;
  }

  .detail-div p {
    text-align: left !important;
  }

  .order1 {
    order: 1;
  }

  .order2 {
    order: 2;
  }
  .scroll-item video {
    width: 650px;
    height: 365.63px !important;
  }
}

@media (max-width: 767px) {
  .hero-img-row,
  .hero-img {
    height: 40vh;
  }

  .hero-copy-row {
    height: 225px;
  }
}

@media (max-width: 600px) {
  .hero-img-row {
    margin-top: 120px;
  }

  .hero-img-row,
  .hero-img {
    height: 30vh;
  }

  .hero-copy-row {
    height: 365px;
  }

  .hero-title {
    font-size: 3.75rem;
  }

  .scroll-item video {
    width: 375px;
    height: 211px !important;
  }
}
